<nav id="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/recipes">Recipes</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/videos">Videos</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>
