<!DOCTYPE html>
<html>
<head>
  <title>Posts Overview</title>
</head>
<body>
  <h1>Posts Overview</h1>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Author</th>
      </tr>
    </thead>
    <tbody>
      <% posts.forEach(post => { %>
        <tr>
          <td><%= post.title %></td>
          <td><%= post.content %></td>
          <td><%= post.author.username %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>
