<!DOCTYPE html>
<html>
<head>
  <title>Recipes Overview</title>
</head>
<body>
  <h1>Recipes Overview</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Ingredients</th>
        <th>Instructions</th>
      </tr>
    </thead>
    <tbody>
      <% recipes.forEach(recipe => { %>
        <tr>
          <td><%= recipe.name %></td>
          <td><%= recipe.ingredients.join(', ') %></td>
          <td><%= recipe.instructions %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>
